<footer class="footer">
    <div class="footer-content">
        <div class="points">
            COMPANY
            <ul class="footer-ul">
                <li class="footer-li"><a href="#">About us</a></li>
                <li class="footer-li"><a href="#">Team</a></li>
                <li class="footer-li"><a href="#">Careers</a></li>
                <li class="footer-li"><a href="#">Swiggy Blog</a></li>
                <li class="footer-li"><a href="#">Bug Bounty</a></li>
                <li class="footer-li"><a href="#">Swiggy Super</a></li>
                <li class="footer-li"><a href="#">Swiggy Corporate</a></li>
                <li class="footer-li"><a href="#">Swiggy Instamart</a></li>
            </ul>
        </div>
        <div class="points">
            CONTACT
            <ul class="footer-ul">
                <li class="footer-li"><a href="#">Help & Support</a></li>
                <li class="footer-li"><a href="#">Partner with us</a></li>
                <li class="footer-li"><a href="#">Ride with us</a></li>
            </ul>
        </div>
        <div class="points">
            LEGAL
            <ul class="footer-ul">
                <li class="footer-li"><a href="#">Terms & Conditions</a></li>
                <li class="footer-li"><a href="#">Refund & Cancellation</a></li>
                <li class="footer-li"><a href="#">Privacy Policy</a></li>
                <li class="footer-li"><a href="#">Cookie Policy</a></li>
                <li class="footer-li"><a href="#">Offer Terms</a></li>
                <li class="footer-li"><a href="#">Phishing & Fraud</a></li>
            </ul>
        </div>
       
    </div>
</footer>

